{% extends "./base-fullscreen.html" %}

{% block title %} Bienvenue{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-airplay"></i>
                </div>
                <h3 class="mb-4">Bienvenue </h3>

                <span class="mb-0 text-muted">
                    
                </span>

                <br />
				<br />
				
				<div >
					
					<button type="button" class="btn btn-light" ><a href="/contact">Créer un compte</a></button>
					<button type="button" class="btn btn-light" ><a href="/connexion">Se connecter</a></button>
					
					
				</div>
			</div>
        </div>
    </div>
</div>

{% endblock content %}

