{% load crispy_forms_tags %}

<head>
    <title>
        Menu Foyer
    </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">

    <!-- Favicon icon -->
    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- Specific CSS goes HERE -->


</head>
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank" class="b-brand">
                <div class="b-bg">
                </div>
                <span class="b-title">Formulaire Foyer</span>
            </a>

        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Accueil</label>
                </li>
                <li data-username="Dashboard" class="nav-item active">
                    <a href="/tableau_de_bord" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Menu Collectivité </label>
                </li>
                <li data-username="Dashbord Membres" class="nav-item active">
                    <a href="/tableau_de_bord/membres" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Membres Récent</span></a>
                </li>
                <li data-username="Dashbord Maps" class="nav-item ">
                    <a href="/maps" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Répartition des membres</span></a>
                </li>
                
                
                
                <li data-username="Disabled Menu" class="nav-item">
                    <a href={% url 'logout' %} class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-power"></i>
                        </span>
                        <span class="pcoded-mtext">Deconnexion - [ {{c.nom}} ]</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Accueil</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Menu Foyer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
               

				<!-- Nombres de Membres -->
                <div class="card daily-sales mb-6">
                    <div class="card-block">
                        <h5 class="mb-4">Nombres de Membres</h5>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                        class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>{{nbMembres}}</h3>
                            </div>

                            
                        </div>
                       
                    </div>
                </div>
                <!--End Nombres de Membres -->
                
                
                
                <div class="col-xl-8 col-md-2">
                    <div class="card">
                        <div class="card-block border-bottom">
                            <div class="row d-flex align-items-center">
                                <div class="col-auto">
                                    <i class="feather icon-shopping-cart text-c-green" class="fa-10x"></i>
                                </div>
                                <div class="col">
                                    <h3 class="f-w-300">{{nbDemandes}}</h3>
                                    <span class="d-block text-uppercase">NOMBRES TOTALES DE DEMANDES</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row d-flex align-items-center"> 
                                <div class="col-auto">
                                    <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                </div>
                                <div class="col">
                                    <h3 class="f-w-300">{{nbCollectivite}}</h3>
                                    <span class="d-block text-uppercase">NOMBRES DE COLLECTIVITE</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            </body>

            </html>

                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>



    </div>
</div>

<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/js/pcoded.min.js"></script>



</body>

</html>
