{% extends "./base-fullscreen.html" %}
{% block title %} product {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-user-plus auth-icon"></i>
                </div>
                <h3 class="mb-2">Ajouter un produit à votre commande</h3>



                <br />
                <br />
                <div>
					<h4 class="mb-1">Commande de {{d.type}} #{{d.id}}</h4>
					<form method="post" action="#">
						{% csrf_token %}
						{% for item in d.items.all %}
						<p>{{item.product.name}} : {{item.quantity}} {{item.product.unit}}</p>
						{% endfor %}
						
						<label>Nom du produit</label>
						<select name="name" class="custom-select custom-select-lg mb-4">
							{% for produit in allproducts %}
							<option value="{{produit.name}}">{{produit.name}} ({{produit.unit}})</option>
							{% endfor %}
						  </select>
						  <div class="input-group mb-3">
							<div class="input-group-prepend">
							  <span class="input-group-text" id="basic-addon1">Qté</span>
							</div>
							<input type="text"name="quantity" class="form-control" placeholder="Quantité" aria-label="Username" aria-describedby="basic-addon1">
						  </div>
						
						<button type="submit" class="btn btn-primary shadow-2 mb-4" , name="newProduct" , value="newProduct">
							Ajouter
						</button>
						<div ><p><a href="/{{id}}/demandes"> Retour </p></div>
						
					</form>
{% endblock %}

