{% extends "forms/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
	<h1>Commande de {{d.type}} #{{d.id}}</h1>
	<form method="post" action="#">
		{% csrf_token %}
		{% for item in d.items.all %}
			<p>{{item.product.name}} : {{item.quantity}} {{item.product.unit}}</p>
		{% endfor %}
		<label>Nom du produit</label>
		<select name="name">
			{% for produit in allproducts %}
				<option value="{{produit.name}}">{{produit.name}} ({{produit.unit}})</option>
			{% endfor %}
		</select>
		<input name ="quantity"> quantity </input>
		<button type="submit", name="newProduct", value="newProduct">
			Ajouter
		</button>
		<p><a href="/{{id}}/demandes"> Retour </p>
	</form>
{% endblock %} 