{% extends "./base-fullscreen.html" %}
{% block title %} product {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-user-plus auth-icon"></i>
                </div>
                <h3 class="mb-4">Inscription des membres</h3>



                <br />
                <br />
                <div>
                    <h1>Créer un produit</h1>
                </div>
                <form method="post" action="/product/">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" , name="save" , class="btn btn-success">Valider</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}