{% extends "forms/base.html" %}

{% block content %}
<div>
	<h1>Tableau de bord</h1>
</div>
<html>
<head>
	<title>{% block title %}Tableau de bord{% endblock %}</title>
</head>
<body>
	<div>
		<table style="height: 200px; width: 400px;">
			<tbody>
				<tr style="height: 200px;">
					<td style="width: 200px; height: 200px; text-align: center;background-color: #6D597A;">
						<h2><strong><font color="white">Nombre de produits</font></strong></h2>
					</td>
					<td style="width: 200px; height: 200px; text-align: center;background-color: #355070;">
						<h2><strong><font color="white">Nombre de demandes</font></strong></h2>
					</td>
				</tr>
				<tr style="height: 200px;">
					<td style="width: 200px; height: 200px; text-align: center;background-color: #E56B6F;">
						<h1><strong><font color="white">{{nbProduits}}</font></strong></h1>
					</td>
					<td style="width: 200px; height: 200px; text-align: center;background-color: #EAAC8B;">
						<h1><strong><font color="white">{{nbDemandes}}</font></strong></h1>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<p><a href="/graphe"> Nombre de clients depuis l'ouverture </p>
<p><a href="/deconnexion"> Deconnexion </p>
	</html>
	
	{% endblock %}